<div class="container">
  <p-toast [life]="2000"></p-toast>
  <div *ngIf="!selectedTemplate">


    <div class="header">
      <div>
        <h2>SMS-Service</h2>
        <h3>Select Users</h3>
      </div>

      <div class="actions">
        <button (click)="fetchUsers()">Fetch Users</button>
        <button (click)="uploadUsers()">Upload to Server</button>
        <button (click)="showAddForm = true">Add Manually</button>
        <button (click)="showFilePopup = true">Import from CSV</button>
      </div>
    </div>

    <div class="popupform" *ngIf="showAddForm">
      <form (ngSubmit)="addUser()">
        <input [(ngModel)]="newUser.name" name="name" placeholder="Name" required>
        <input [(ngModel)]="newUser.phoneNumber" name="phoneNo" placeholder="Phone Number" required>
        <div style="display: flex;gap: 20px;">
          <button class="submit" type="submit">Add User</button>
          <button class="close" type="button" (click)="showAddForm = false">Close</button>
        </div>
      </form>
    </div>

    <div class="file-popup" *ngIf="showFilePopup">
      <div>
        <label for="fileInput">Select a file to import</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".csv">
        <button style="width: fit-content;" class="close" type="button" (click)="showFilePopup = false">Close</button>
      </div>
    </div>

    <div class="filters">
      <input type="text" placeholder="Search by name or phone number" [(ngModel)]="searchQuery"
        (ngModelChange)="filterUsers()">
      <button (click)="toggleSortOrder()">Sort by Name {{ sortAscending ? '▲' : '▼' }}</button>
    </div>

    <div class="user-list">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td><input type="checkbox" [(ngModel)]="user.checked"></td>
            <td>{{ user.name }}</td>
            <td>{{ user.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bottom">
      <button class="send-button" (click)="sendSMS()">Select Template</button>
    </div>

  </div>

  <app-template-popup *ngIf="showTemplatePopup" (templateSelected)="handleTemplateSelection($event)"
    (popupClosed)="showTemplatePopup = false">
  </app-template-popup>

  <div class="full-screen-template" *ngIf="selectedTemplate">
    <h3>
      Template Preview (Predefined Variables will be replaced with actual values)

    </h3>
    <div class="template-content">
      <h4>Template Id - {{ selectedTemplate.templateId }}</h4>
      <p [innerHTML]="selectedTemplate.Content"></p>
      <button (click)="closeFullScreenTemplate()">Send message</button>
    </div>
    <div class="user-list">
      <h4 style="margin-top: 30px;">Selected Users</h4>
      <table>

        <thead>

          <tr>
            <th>Name</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of selectedUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
</div>