<p>view-user-data works!</p>
<button routerLink="../edashboard">Back to Menu</button>

<div class="user-data">
  <h2>User Data</h2>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th *ngFor="let field of fields">{{ field }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><input type="checkbox" (change)="toggleSelection(user.id)"></td>
        <td *ngFor="let field of fields">{{ user[field] }}</td>
      </tr>
    </tbody>
  </table>
</div>

