.form-group {
    margin-bottom: 15px;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .alert {
    margin-top: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions button {
    margin-left: 10px;
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
  }
  
  .popupform,
  .file-popup {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .popupform form,
  .file-popup div {
    display: flex;
    flex-direction: column;
  }
  
  .popupform input,
  .file-popup input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit,
  .close {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .close {
    background-color: #dc3545;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .filters button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-list th,
  .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-list th {
    background-color: #f2f2f2;
  }
  
  .bottom {
    text-align: right;
    margin-top: 20px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  