/* Container for the documentation content */
.docs-content-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

/* General text styling */
.docs-content-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

/* Code block styling */
.docs-content-container code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}

/* Heading styles */
.docs-content-container h1 {
  color: #0056b3;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.docs-content-container h2 {
  color: #0056b3;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.docs-content-container h3 {
  color: #0056b3;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* List styles */
.docs-content-container ul,
.docs-content-container ol {
  margin: 10px 0 20px 20px;
  padding-left: 20px;
}

.docs-content-container li {
  margin-bottom: 10px;
}

/* Strong text styling */
.docs-content-container strong {
  color: #333;
  font-weight: bold;
}

/* Div styling for sections */
.docs-content-container div {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* API TABLE*/
.api-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.api-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.api-table th,
.api-table td {
    padding: 12px 15px;
}

.api-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.api-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.api-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.api-table tbody tr:hover {
    background-color: #f1f1f1;
}
