.create-template {
    width: 50vw;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
  }

  .create-template h2{
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
    
  }

  .form-g select{
    width: 30%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #848484;
    border-radius: 5px;
    background-color: white;
  }

  .form-g input{
    flex : 1;
    margin-top: 0 !important;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #848484;
    border-radius: 5px;
    background-color: white;
  }

  .form-g{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  label {
    font-weight: 500;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #848484;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  .btn-primary {
    position: absolute;
    right: 5%;
    bottom: 8%;
    
    margin-right: 2rem;
    padding: 0.7rem;
    padding-inline: 4rem;
    background-color: #0a316c;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  /* Define the base alert class */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* Define the success variant */
.alert-success {
  background-color: #4CAF50; /* Green */
}
  
.variables{
  display: flex;
  flex-direction: column;
  gap: 10px;
}