/* Container styling */
.user-filter-container {
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(248, 244, 244);
}

.form-class {
  background-color: rgb(220, 214, 227);
  display: flex;
  flex-direction: column;
}

/* Grid layout for the form */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 8px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}
.form-group-progress {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label,
.form-group-progress label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select .form-group-progress input .form-group-progress select {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  border-color: rebeccapurple;
  border-width: 1px;
}

/* Styling for the array field section */
.completed-content-group {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}

/* Button styling */
button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

button:disabled {
  background-color: #ccc;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1px 0;
}

.custom-checkbox input {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 3px;
  transition: transform 0.2s ease;
}

.custom-checkbox input:checked + .checkbox::after {
  transform: translate(-50%, -50%) scale(1);
}
.custom-checkbox:hover .checkbox {
  border-color: #0056b3;
}

/* Submit button styling */
button[type="submit"] {
  background-color: #28a745;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #1aec44;
  color: black;
}

/* Responsive styling */
@media (max-width: 900px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
