<div class="backdrop" *ngIf="Open" (click)="closeDetails()">
    <div class="popup" [ngClass]="{'closing': isClosing}" (click)="$event.stopPropagation()">
        <img src="image.png" class="Closer" (click)="closeDetails()">
        <h1>Select method of communication</h1>
        <div class="MediumsList">
            <div class="Option" (click)="mediumSelect('Email')">
                <input type="radio" name="communicationMethod" value="Email" [(ngModel)]="selectedMedium" />
                <p>Email</p>
                <img src="email.png" alt="Email" height="30px" />
            </div>

            <div class="Option" (click)="mediumSelect('Whatsapp')">
                <input type="radio" name="communicationMethod" value="Whatsapp" [(ngModel)]="selectedMedium" />
                <p>Whatsapp</p>
                <img src="whatsapp.png" alt="Whatsapp" height="55px" class="whatsapp" />
            </div>

            <div class="Option" (click)="mediumSelect('SMS')">
                <input type="radio" name="communicationMethod" value="SMS" [(ngModel)]="selectedMedium" />
                <p>SMS</p>
                <img src="sms.png" alt="SMS" height="30px" />
            </div>


            <button (click)="submit()">Submit</button>


        </div>
    </div>
</div>