body {
    font-family: Arial, sans-serif;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
    opacity: 1;
    animation: backdropOpenAnimation 0.3s forwards;
    transition: opacity 0.3s ease;
  }
  
  .popup {
    max-width: 400px;
    max-height: 370px;
    border-radius: 30px;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    gap: 0rem;
    background-color:#ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: popupOpenAnimation 0.3s forwards;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
  }
  .popup h1{
    font-size: 1.75rem;
    margin: 20px;
    font-weight: 600;
  }

  .Closer{
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .Closer:hover{
    transform:rotate(90deg);
  }
  .MediumsList{
    margin-top: rem;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .Option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
  }
  .Option:hover{
    transform: scale(103%);
  }
  .Option img{
    width: 25px;
    height: 25px;
    object-fit: cover;
  }

  .Option div{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .MediumsList button {
    padding: 0.7rem;
    margin-block: 1rem;
    padding-inline: 4rem;
    background-color: #0a316c;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .MediumsList button:hover {
    background-color: #06285b;
  }
  
  /* radio button css */

  input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #7e7e7e;
    border: 3px solid white;
    width: 16px;
    height: 16px;
  }
  input[type='radio']:checked {
    background: #333;
  }
  
  






  /* These are animations for open and close of the backdrop */
  .backdrop.closing {
    animation: backdropCloseAnimation 0.3s forwards;
  }
  
  .popup.closing {
    animation: popupCloseAnimation 0.3s forwards;
  }
  
  @keyframes ClosebuttonRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  @keyframes backdropOpenAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes backdropCloseAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes popupOpenAnimation {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes popupCloseAnimation {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.7);
      opacity: 0;
    }
  }
  