<div class="container">
    <div class="header">
      <div>
        <h2>WhatsApp Service</h2>
        <h3>Select Users</h3>
      </div>
  
      <div class="actions">
        <button (click)="showAddForm = true">Add Manually</button>
        <button (click)="showFilePopup = true">Import from CSV</button>
      </div>
    </div>
  
    <div class="popupform" *ngIf="showAddForm">
      <form (ngSubmit)="addUser()">
        <input [(ngModel)]="newUser.name" name="name" placeholder="Name" required>
        <input [(ngModel)]="newUser.whatsappNumber" name="whatsappNumber" placeholder="Phone Number" required>
        <button class="submit" type="submit">Add User</button>
        <button class="close" type="button" (click)="showAddForm = false">🞥</button>
      </form>
    </div>
  
    <div class="file-popup" *ngIf="showFilePopup">
      <div>
        <label for="fileInput">Select a file to import</label>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".csv">
        <button class="close" type="button" (click)="showFilePopup = false">🞥</button>
      </div>
    </div>
  
    <div class="filters">
      <input type="text" placeholder="Search by name or phone number" [(ngModel)]="searchQuery" (ngModelChange)="filterUsers()">
      <button (click)="toggleSortOrder()">Sort by Name {{ sortAscending ? '▲' : '▼' }}</button>
    </div>
  
    <div class="user-list">
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>WhatsApp Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td><input type="checkbox" [(ngModel)]="user.checked"></td>
            <td>{{ user.name }}</td>
            <td>{{ user.whatsappNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="bottom">
      <button class="send-button" (click)="Submit()">Upload Data</button>
    </div>
  </div>
  