<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Template Preview</h3>
      <div class="Template-Preview">
        <p>{{ previewText }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Fill Template Fields</h3>
      <form (ngSubmit)="sendMessages()" class="form">
        <div *ngFor="let field of fields; let i = index" class="fields">
          <label for="field{{ i }}">Field {{ i + 1 }}:</label>
          <input type="text" id="field{{ i }}" [(ngModel)]="fields[i]" (input)="updatePreview()" name="field{{ i }}"
            class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
      </form>
    </div>
  </div>

  <div class="Table" *ngIf="recipientList.length>0">
    <div class="col-md-10">
      <h3>Current Recipients List</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>WhatsApp Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipient of recipientList">
            <td>{{ recipient.name }}</td>
            <td>{{ recipient.whatsappNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
