/* You can add global styles to this file, and also import other style files */
/* Reset margin and padding for html and body */
@import "primeicons/primeicons.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Make sure the app-root takes full height and width */
app-root {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .p-tooltip-text {
    padding: 10px;
  }
  .p-tooltip {
    margin-left: 10px;
  }
  
  .p-tooltip-arrow {
    display: none;
  }
  
  .p-toast-message-text {
    padding: 10px;
  }
  
  .p-icon {
    display: none;
  }
  
  .p-ripple {
    display: block !important;
  }