<div class="container">
  <h2>Upload User Data(CSV or Json File)</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="file">Choose file</label>
      <input type="file" id="file" (change)="onFileSelected($event)" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!fileSelected">Upload</button>
  </form>

  <div *ngIf="uploadSuccess" class="alert alert-success mt-3">
    Data uploaded successfully!
  </div>

  <div *ngIf="uploadError" class="alert alert-danger mt-3">
    Error uploading data. Please try again.
  </div>
</div>